<template>
    <div v-model="value" class="col-md-4">

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
